* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container {
    border: 2px solid;
    width: 100%;
    height: 600px;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);

}

.Container img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);

}

.Container .box {
    border: 2px solid;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 60px;
    left: 11%;
    border-radius: 50%;
    border-color: white;
    background-color: white;
}

.box h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: oblique;
    color: blueviolet;
    position: absolute;
    top: 29px;
    left: 170px;
}

.box h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-style: italic;
    color: skyblue;
    position: absolute;
    top: 23%;
    left: 25%;
}

.box p {
    font-family: cursive;
    font-weight: 300;
    position: absolute;
    position: absolute;
    left: 9%;
    bottom: 49%;
    margin: 5px;
}

.box .continue {
    /* border-radius: 2px solid; */
    width: 30%;
    height: 45px;
    background-color: blue;
    position: absolute;
    bottom: 130px;
    left: 160px;
    border-radius: 21%;
    border: none;
}


.Container1 {
    /* border: 2px solid; */
    width: 100%;
    height: 600px;
    position: relative;
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 86%);


}

.para {
    /* border: 2px solid; */
    width: 50%;
    height: 60%;
    position: absolute;
    top: 20px;
    left: 0;
}

.para h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: oblique;
    color: rgb(177, 226, 43);
    position: absolute;
    top: 65px;
    left: 120px;
}

.Container1 .para p {
    font-family: cursive;
    font-weight: 300;
    position: absolute;
    position: absolute;
    left: 8px;
    top: 125px;
    margin: 5px;
}

.box1 img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: 50px;

}

.Container1 .continue {
    /* border-radius: 2px solid; */
    width: 15%;
    height: 45px;
    background-color: blue;
    position: absolute;
    bottom: 85px;
    left: 550px;
    border-radius: 21%;
    border: none;
}

.Container3 {
    border: 2px solid;
    width: 100%;
    height: 600px;
    position: relative;
    clip-path: polygon(0 0, 100% 13%, 100% 88%, 0 100%);
    /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); */

}

.Container3 img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); */

}
.Container3 .box3 {
    border: 2px solid ;
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 50px;
    border-radius: 50%;
    background-color: white;
}
.box3 h1{
    color: rgb(37, 24, 109);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 35%;
}
.box3 h3{
    color: rgb(37, 24, 109);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 95px;
    left: 25%;
}
.box3 p{
    color: rgb(37, 24, 109);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 179px;
    left: 2%;
}
.box3 .continue {
    /* border-radius: 2px solid; */
    width: 30%;
    height: 45px;
    background-color: rgb(81, 81, 167);
    position: absolute;
    bottom: 130px;
    left: 160px;
    border-radius: 21%;
    border: none;
}


.Container4 {
    /* border: 2px solid; */
    width: 100%;
    height: 600px;
    position: relative;
    /* clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 86%); */
}

.box4 img {
    border: 2px solid teal;
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    right: 160px;
    bottom: 50px;
}

.form-input{
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 60px;
    width: 20%;
    outline: none;
}
.sub{
    width: 10%;
    height: 45px;
    background-color: burlywood;
    border: none;
    position: absolute;
    left: 16%;
    bottom: 29%;
    border-radius: 10%;
}
