*{
    margin: 0;
    padding: 0;
}

div h1{
    background-color: rgb(156, 102, 180);
}

div>h1{
    background-color:  rgba(219, 117, 173, 0.589);
} 

div+p{
    background-color:rgb(228, 91, 91);
}

div~h1{
    background-color: hsla(209, 46%, 52%, 0.557)
} 