* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container {
    /* border: 2px solid; */
    width: 300px;
    height: 300px;
    margin-top: 150px;
    margin-left: 15px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    transition: all 1s 0.5s ease-in;
    box-shadow: 7px -5px 20px 1px;
}

.Container:hover {
    background-color: lightcoral;
    border-radius: 50%;
    transform:rotateX('360deg');
    transform: translate(600px);
}