* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chessboard {
    width: 400px;
    height: 400px;
    background: linear-gradient(to bottom right, #fff, #d3d3d3);
    margin:auto;
    margin-top: 40px;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.chessboard td {
    width: 50px;
    height: 50px;
    text-align: center;
}

.green {
    background-color: green;
}

.white {
    background-color: white;
}