* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    width: 400px;
    height: 400px;
    /* background: linear-gradient(to bottom right, #fff, #d3d3d3); */
    margin:auto;
    margin-top: 40px;
    padding: 0;
    font-size: 20px;
    position: relative;
}

.Container td {
    width: 50px;
    height: 50px;
    text-align: center;
}

.green {
    background-color:rgba(185, 83, 216, 0.712);
}

.white {
    background-color: white;
}