* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container {
    /* border: 2px solid; */
    width: 640px;
    height: 400px;
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
    z-index: 1;
    box-shadow: 13px -4px 14px;

}

.box1 {
    /* border: 2px solid gold; */
    width: 320px;
    height: 400px;
    position: absolute;
    background-color:#002b3c;
    z-index: 2;
    left: 0;
    bottom: 0;
}

.inner {
    /* border: 2px solid; */
    width: 264px;
    height: 213px;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, -15%);
    background-color:#002b3c;
    z-index: 3;
}

.box1 .inner h2 {
    position: absolute;
    bottom: 41%;
    left: 9%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    font-weight: 900;
    font-style: oblique;
    color: #9c7b52;
}

.box1 .inner h4 {
    position: absolute;
    bottom: 29%;
    left: 5%;
    font-weight: 700;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9c7b52;
}

.box1 .inner img {
    width: 110px;
    height: 60px;
    position: absolute;
    top: 14%;
    left: 25%;
    z-index: 4;
}

.box2 {
    /* border: 2px solid black; */
    width: 320px;
    height: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #9c7b52;
}

.box2 .inner1 {
    /* border: 2px solid; */
    width: 227px;
    height: 97px;
    position: absolute;
    top: 15%;
    left: 15%;
    background-color:#9c7b52;

}

.box2 .inner1 h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 40px;
    font-style: oblique;
    text-align: center;
    margin-top: 10px;
    color: #002b3c;
}

.box2 .inner1 h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-style: oblique;
    text-align: center;
    margin-top: 10px;
    color: #002b3c;
}

.box2 .inner2 {

    /* border: 2px solid; */
    width: 227px;
    height: 140px;
    position: absolute;
    left: 15%;
    top: 55%;
    background-color: #9c7b52;
}

.box2 .inner2 h3,
h4,
h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-style: oblique;
    margin-top: 10px;
    color:#002b3c;
}

.fa {
    color: white;
}

.circle .fa {
    /* border: 2px solid; */
    width: 25px;
    height: 50px;
    position: absolute;
    left: -14%;
    top: 6%;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    background-color: #002b3c;
}
.circle2 .fa{
    /* border: 2px solid; */
    width: 28px;
    height: 50px;
    position: absolute;
    left: -14%;
    top: 28%;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    background-color: #002b3c;
}
.circle3 .fa{
    /* border: 2px solid; */
    width: 25px;
    height: 50px;
    position: absolute;
    left: -14%;
    top: 50%;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    background-color: #002b3c;
}