* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
}

header {
    border: 2px solid;
    width: 100%;
    height: 115px;
    position: relative;
    background-color: teal;
}

.image {
    /* border: 2px solid red; */
    width: 200px;
    height: 115px;
}

.image img{ 
   width: 200px;
    height: 111px;
    object-fit: cover;
} 

nav {
    position: absolute;
    right: 0%;
    top: 40%;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-size: 20px;
    font-weight: 900;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    color:whitesmoke;
}
.video {
    border: 2px solid rebeccapurple;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.video video{
    width: 100%;
    height: 50%;
}
.video .box{
    border: 2px  solid olivedrab;
    width: 100px;
    height: 100px;
}