*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* border: 2px solid red; */
    height: 40rem;
    padding-top: 100px;
    background:rgb(96, 244, 163)
}

.box{
    /* border: 2px solid black; */
    width: 400px;
    /* height: 400px; */
    margin: auto;
    padding: 10px;
    background-image: linear-gradient(#A53860,#EF88AD);
  box-shadow: 12px -8px 15px 7px teal;
  border-radius: 20px;

}
.box h1{
    text-align: center;
    color: white;
    padding: 10px;
}

.box .birds-input{
    padding: 15px;

}
.box .birds-input label,.box .birds-input .bird{
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    
}
.box .birds-input .sub{
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    border: none;
    color: white;
   background:rgba(96, 244, 163, 0.733)

}
.fa-home{
    font-size: 50px;
}




























  
&#x2655;   
&#x2656;  
&#x2657;  
&#x2658;    
&#x2659; 
