* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid;
    width: 100%;
    height: 650px;
    position: relative;
}

.box {
    /* border: 2px solid; */
    width: 700px;
    height: 604px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 16px -8px 20px 1px;

}

.box1 {
    /* border: 2px solid red; */
    width: 350px;
    height: 600px;
    position: absolute;
    top:0;
    left:0;
}
.box1 img{
    width: 350px;
    height: 600px;
    object-fit: cover;
}
.box1.inner{
    /* border: 2px solid; */
    width: 350px;
    height: 600px;
    background-color: #6f8ec79c;
}
.box2{
    /* border: 2px solid orange; */
    width: 350px;
    height: 600px;
    position: absolute;
    left:50%;
    right: 0;
    margin: auto;
    padding: 19px;
}
.box2 h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;
}
.box2-input .form{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
}
.box2-input .sub{
     width: 50%;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    border: none;
    background-color:#6f8ec79c;
}

