* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

}

.container {
    position: relative;
    height: 100%;

}

.box {
    position: relative;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;

}

.inn {
    position: absolute;
    width: 33%;
    height: 27%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.honey1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(255, 0, 0, 0.775) , rgb(255, 115, 0));
}

.honey2 {
    top: 6.5%;
    left: 50%;
    transform: translate(-50%);
    background: linear-gradient(rgb(255, 42, 0) , rgba(255, 55, 0, 0.808));

}

.honey3 {
    bottom: 7.5%;
    left: 50%;
    transform: translate(-50%);
    background: linear-gradient(rgb(255, 64, 0) , orange);
}

.honey4 {
    top: 22%;
    left: 8%;
    background: linear-gradient( rgb(255, 42, 0) , rgba(255, 55, 0, 0.808));
}

.honey5 {
    top: 22%;
    right: 8%;
    background: linear-gradient(rgb(255, 42, 0), orange);
}

.honey6 {
    bottom: 22%;
    left: 8%;
    background: linear-gradient(rgb(255, 42, 0) , orange);
}

.honey7 {
    bottom: 22%;
    right: 8%;
    background: linear-gradient(rgb(255, 64, 0) , orange);
}